@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.box {
  height: 15rem;
  width: 15rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 14rem;
  height: 14rem;
  border-radius: 70%;
  background-color: #808080;
  position: absolute;
  z-index: 1;
  top: 0;
}

.text {
  position: absolute;
  color: white;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
  margin: 0;
  z-index: 1;
  font-family: "Kantumruy Pro", serif;
  font-weight: 200;
}

#circle-1,
#circle-2,
#circle-3,
#circle-4,
#circle-5,
#circle-6,
#circle-7 {
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circle video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 70%;
}

.letterM,
.letterA,
.letterK,
.letterE,
.letterI {
  font-family: "Kantumruy Pro", serif;
  font-size: 7rem;
  font-weight: 300;
  color: black;
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.letterI,
.letterT {
  font-family: "Kantumruy Pro", serif;
  font-size: 7rem;
  font-weight: 300;
  color: black;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.letterU,
.letterP {
  font-family: "Kantumruy Pro", serif;
  font-size: 7rem;
  font-weight: 300;
  color: black;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
}

.iconText1,
.iconText2,
.iconText3,
.iconText4,
.iconText5,
.iconText6,
.iconText7,
.iconText8,
.iconText9,
.iconText10,
.iconText11,
.iconText12,
.iconText13,
.iconText14,
.iconText15,
.iconText16,
.iconText17,
.iconText18,
.iconText19,
.iconText20,
.iconText21,
.iconText22,
.iconText23,
.iconText24,
.iconText25,
.iconText26,
.iconText27,
.iconText28,
.iconText29,
.iconText30,
.iconText31,
.iconText32 {
  font-family: "Raleway", serif;
  font-size: 3rem;
  font-weight: 200;
  color: black;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#circle-10 {
  z-index: 100;
  overflow: visible;
}

.warning {
  font-family: "Raleway", serif;
  font-size: 1rem;
  font-weight: 200;
  color: black;
  z-index: 2;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pattern1 {
  background-image: repeating-conic-gradient(#000000 0% 25%, #e4e4ed 0% 50%);
  background-position: 0 0, 32px 32px;
  background-size: 64px 64px;
  background-color: #9f9f9f;
}

.pattern2 {
  background: radial-gradient(
        farthest-side at -33.33% 50%,
        #0000 52%,
        #00ff15 54% 57%,
        #0000 59%
      )
      0 calc(128px / 2),
    radial-gradient(
        farthest-side at 50% 133.33%,
        #0000 52%,
        #203b4f 54% 57%,
        #0000 59%
      )
      calc(128px / 2) 0,
    radial-gradient(
      farthest-side at 133.33% 50%,
      #0000 52%,
      #83a90f 54% 57%,
      #0000 59%
    ),
    radial-gradient(
      farthest-side at 50% -33.33%,
      #0000 52%,
      #1a8fe5 54% 57%,
      #0000 59%
    ),
    #e4e4ed;
  background-size: calc(128px / 4.667) 128px, 128px calc(128px / 4.667);
}

.pattern3 {
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 32px,
    #000000 32px,
    #1a8fe5 64px
  );
  background-color: #e4e4ed;
}
